@import url("https://rsms.me/inter/inter.css");

:root {
  --font-family: Inter;

  /* --color-purple1: #F9F6FE;
    --color-purple2: #C6B4FA;
    --color-purple3: #9E83F8;
    --color-purple4: #8163F6;
    --color-purple5: #674FC5;
    --color-purple6: #4D3B94;
    --color-purple7: #342863;

    --color-gray1: #F6F8F9;
    --color-gray2: #DCE1E7;
    --color-gray3: #C4CBD3;
    --color-gray4: #ADB5BD;
    --color-gray5: #8A9197;
    --color-gray6: #686D71;
    --color-gray7: #45484C;
    --color-gray8: #232426;

    --color-red: #FA5252;

    --color-orange: #F2994A;

    --color-yellow: #F2C94C;

    --color-green1: #219653;
    --color-green2: #27AE60;
    --color-green3: #6FCF97;

    --color-blue1: #2F80ED;
    --color-blue2: #2D9CDB;
    --color-blue3: #56CCF2;    */
}

.menu-trigger {
  margin-right: 70px;
  margin-bottom: 50px;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
  left: 1px;
}

.menu-trigger {
  position: relative;
  width: 35px;
  height: 32px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3.5px;
  border-radius: 3px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 14px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.type12:after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: "";
  width: 59px;
  height: 59px;
  margin: -32px 0 0 -32px;
  border-radius: 50%;
  border: 3px solid transparent;
  transition: all 0.75s;
}
.menu-trigger.active-12 span:nth-of-type(1) {
  -webkit-transform: translateY(14px) rotate(-45deg);
  transform: translateY(14px) rotate(-45deg);
}
.menu-trigger.active-12 span:nth-of-type(2) {
  left: 60%;
  opacity: 0;
  -webkit-animation: active-menu-bar12-01 0.8s forwards;
  animation: active-menu-bar12-01 0.8s forwards;
}
@-webkit-keyframes active-menu-bar12-01 {
  100% {
    height: 0;
  }
}
@keyframes active-menu-bar12-01 {
  100% {
    height: 0;
  }
}
.menu-trigger.active-12 span:nth-of-type(3) {
  -webkit-transform: translateY(-14px) rotate(45deg);
  transform: translateY(-14px) rotate(45deg);
}
