name: "Deploy at server"

on:
    push:
        branches:
            - master

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v1
            - name: ssh scp ssh pipelines
              uses: cross-the-world/ssh-scp-ssh-pipelines@latest
              env:
                  WELCOME: "ssh scp ssh pipelines"
                  LASTSSH: "Doing something after copying"
              with:
                  host: ${{ secrets.DC_HOST }}
                  user: ${{ secrets.DC_USER }}
                  pass: ${{ secrets.DC_PASS }}
                  port: ${{ secrets.DC_PORT }}
                  key: ${{ secrets.DC_KEY }}
                  connect_timeout: 10s
                  first_ssh: |
                      key
                  scp: |
                      './*' => ${{ secrets.PATH }}
                  last_ssh: |
                      cd ${{ secrets.PATH }}
                      ./dc.sh
