name: Golang CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  checks:
    name: run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: run
        uses: cedrickring/golang-action@1.6.0
